[Unit]
Description=Slice Master Start

[Service]
RemainAfterExit=true
ExecStart=/opt/sliceup/scripts/masterstart.sh

[Install]
WantedBy=multi-user.target
