[Unit]
Description=Slice Worker Start

[Service]
RemainAfterExit=true
ExecStart=/usr/bin/python3 /opt/sliceup/executables/task-exec-monitor.py


[Install]
WantedBy=multi-user.target
